<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
<ul>
    <li><%= pregunta %></li>
    <li><%= opcion1 %></li>
    <li><%= opcion2 %></li>
    <li><%= opcion3 %></li>
    <li><%= respuesta %></li>
</ul>
</body>
</html>